.todo-create {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #ffffff;
    width: 600px;
    min-height: 60px;
    border-radius: 5px;
    margin: 20px 0;
}

.todo-input {
    display: flex;
    border: none;
    color: #646363;
}

.todo-input:focus {
    outline: none;
}

@media (max-width: 767px) {
    .todo-create {
        flex-direction: column;
        max-width: 330px;
        padding: 10px;
        margin: 10px 0;
    }

    .todo-input {
        font-size: 14px;
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .todo-create {
        max-width: 100%;
        margin: 15px 0;
    }

    .todo-input {
        font-size: 14px;
        width: 85%;
    }
}

@media (min-width: 1025px) {
    .todo-input {
        font-size: 16px;
        width: 85%;
    }
}