.todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/images/background.jpeg);
    background-position: top center;
    background-size: 100% 35%;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}

.todo-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    text-align: center;
    align-items: center;
}

.todo-title {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 10px;
}

.todo-footer {
    text-align: center;
    margin-top: 1rem;
    font-size: 14px;
    color: #757575;
}

@media (max-width: 767px) {
    .todo-container {
        background-size: cover;
    }

    .todo-header {
        flex-direction: row;
        max-width: 350px;
    }

    .todo-title {
        font-size: 24px;
        letter-spacing: 5px;
    }

    .todo-footer {
        font-size: 12px;
        color: #ffffff;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .todo-container {
        background-size: 100% 50%;
        height: auto;
        padding: 20px;
    }

    .todo-title {
        font-size: 28px;
        letter-spacing: 7px;
    }

    .todo-footer {
        font-size: 13px;
    }
}

@media (min-width: 1025px) {
    .todo-container {
        background-size: 100% 35%;
    }

    .todo-title {
        font-size: 36px;
        letter-spacing: 12px;
    }

    .todo-footer {
        font-size: 14px;
    }
}