.todo-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: white;
    border-radius: 5px;
    max-height: 500px;
    height: 500px;
    margin: 0 auto;
    overflow-y: auto;
    padding: 10px;
}

mat-list-item {
    display: flex;
    align-items: center;
    padding: 10px;
    min-height: 50px;
    max-width: 500px;
}

mat-checkbox {
    margin-right: 16px;
}

.task-name {
    font-size: 16px;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
}

.completed .task-name {
    text-decoration: line-through;
    color: gray;
}