/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Delius Swash Caps', cursive;
    margin: 0;
}

button,
input,
span {
    font-family: 'Delius Swash Caps', cursive;
}